# Theme: Rainbow Macintosh Icons 
# Version 1.1
# Last Update: 26 November 2025
# Updated to correct hold and lock icon locations, changed which viewers correspond to what directory. Removed unneccessary background.
# License: CC-BY-SA 3.0
# By: Monica G
# Description: My first theme, based on the macOS Sequoia Susan Kare wallpaper
# and it attempts to mimic the liquid glass effect seen in macOS Tahoe/iOS 26. 
# Code based on: iPod reFresh by Ciprian Dragu (based on FreshOS by c-yu (yuuiko)) 
# and SNARTY by Simon Anden (based on SNAZZY by Phil Graves, based on SPAZZ by Chuck Largo)
# Icon elements altered from: iPod reFresh by Ciprian Dragu and win95 by Vera B
# Heavily inspired by macOS Sequoia and iOS 26 by Apple Inc.
# Background Graphic: RainbowDynamicMac by BasicAppleGuy
# https://basicappleguy.com/haberdashery/macintoshwallpapers (10 June 2024)

#--CFG File--

wps: /.rockbox/wps/Rainbow_Icons.wps
sbs: /.rockbox/wps/Rainbow_Icons.sbs
selector type: bar (color)
line selector start color: f5f5f5
line selector end color: f5f5f5
line selector text color: 000000
font:/.rockbox/fonts/14-SF-Pro-Rounded-Semibold.fnt
background color: ffffff
foreground color: 000000
#ui viewport: -
statusbar: off
scrollbar: on
iconset: /.rockbox/icons/Rainbow_Icons.bmp
viewers iconset: /.rockbox/icons/Rainbow_Icons_viewers.bmp
show icons: on
filetype colours: -

